h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7864ed;
}

#create-form {
    background-color: #6495ed;
    padding-bottom: 20px;
}

#memes {
    list-style: none;
}

.created-memes {
    background-color: #64daed;
}

li {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 200%;
    display: inline-block;
    position: relative;
}

li:hover {
    filter: grayscale(80%) blur(5px);
}


img {
    width: 500px;
    padding: 20px;
    z-index: 2;
}

#upper {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 3;
}

#lower {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 3;
}

footer p {
    text-align: center;
    padding: 10px 0 0 30px;
    margin: 10px auto;
}
